<div class ="bookingform" id="booking-form" data-bookingform-target="hideable" hidden>
  <%= simple_form_for [@assassin, @booking] do |f| %>
    <%= f.input :target_name %>
    <%= f.input :target_location %>
    <%= f.input :deadline, start_year: Date.current.year, end_year: Date.current.year + 5 %>
    <%= f.input :details, label: "Any requests?" %>
    <%= f.submit "SUBMIT", class: "btn btn-dark" %>
  <% end %>
</div>
