<div class="container" style="width:80%">
  <h1>All Assassins</h1>
  <div class="row justify-content-center">
    <div class="col-sm-8 my-3">
      <%= form_with url: assassins_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Find Your Assassin"%>
        <%= submit_tag "Search", name: "", class: "btn btn-dark" %>
      <% end %>
    </div>
  </div>
  <div class="cards">
    <% @assassins.each do |assassin| %>
      <div class="row">
        <div class="card-product col-3">
          <%= cl_image_tag(assassin.photo.key, crop: :thumb, gravity: :faces, height: 150, width: 235) %>
          <div class="card-product-infos">
            <div class="div">
              <h2><%= assassin.name %></h2>
              <p><%= assassin.weapon %></p>
              <%= link_to "Find out more", assassin_path(assassin), class: "small-btn" %>
            </div>
            <div class="div">
              <p>💰<%= assassin.price %> bitcion(s)</p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
