<!DOCTYPE html>
<html>
  <head>
    <title>HireAssassin</title>
    <link rel="icon" href="https://cdn.icon-icons.com/icons2/564/PNG/512/Horror_icon-icons.com_54174.png">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.js"></script>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body>
    <%= render "shared/navbar" %>
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn.dribbble.com/users/2905071/screenshots/5812870/media/03fc8edd565758998f2411eb713d262a.jpg)">
      <div class="container">
        <h1 class="no-filter">DEATH DEALERS</h1>
        <p>UNLEASH THE SHADOWS: EMPOWER YOUR WILL WITH LETHAL PRECISION</p>
      </div>
    </div>
    <%= yield %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>
</html>
